---
import { cn } from '@/utils/tailwind';

interface LabelProps {
  title: string;
  class?: string;
  as?: 'div' | 'a';
  href?: string;
  target?: string;
  rel?: string;
}

const {
  class: className,
  as: Tag = 'div',
  title,
  href,
  ...props
} = Astro.props as LabelProps;
---

<Tag
  class={cn(
    className,
    'flex flex-row items-center justify-center gap-x-2',
    href && 'hover:opacity-75 transition-all transform scale-110'
  )}
  href={href}
  {...props}
>
  <slot name="icon" />
  <p>{title}</p>
</Tag>
